@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Welcome"] @if(ViewBag.IsAdmin){<text>, @SharedLocalizer["Admin"]</text>}</h1>
</div>
