@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["HomePage"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"] @if(ViewBag.IsAdmin){<text>, @Localizer["Admin"]</text>}</h1>
</div>
