@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @SharedLocalizer["Register confirmation"];
}

<h1>@ViewData["Title"]</h1>
@{

    <p>
        @SharedLocalizer["Please check your email to confirm your account."]
    </p>

}

