@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @SharedLocalizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer["Your password has been reset. Please"] <a asp-page="./Login">@SharedLocalizer["click here"]</a>.
</p>
